<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lyl.smzdk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransNav">
        </activity>
        <activity
            android:name=".ui.web.Html5Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.news.menu.MenuListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.video.DetailCommentReplyActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 加载图片 -->
        <activity
            android:name=".ui.image.SpecialImageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.image.ImageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.user.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.user.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.user.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.images.ImagesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.images.SummaryImagesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.images.GifSummarysActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.images.GifWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.user.FeedbackActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.announce.AnnounceDetailsActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>